@{
    ViewBag.Title = "New";
}

<h2>Add New Teacher</h2>

<form method="post" action="/Teacher/Create">
    <div>
        <label for="TeacherFName">First Name:</label>
        <input type="text" name="TeacherFName" id="TeacherFName" class="textbox" />
    </div>
    <div>
        <label for="TeacherLName">Last Name:</label>
        <input type="text" name="TeacherLName" id="TeacherLName" class="textbox"/>
    </div>
    <div>
        <label for="Salary">Amount Salary</label>
        <input type="text" name="Salary" id="Salary" class="textbox"/>
    </div>
    <div>
        <label for="EmployeeNumber">Employee Number</label>
        <input type="text" name="EmployeeNumber" id="EmployeeNumber" class="textbox"/>
    </div>
    <div>
        <input type="submit" value="Add Teacher" />
    </div>

</form>

